# Numerical and data processing libraries:
numpy==2.3.3
pandas==2.3.2
nibabel==5.3.2

# Deep learning libraries:
torch==2.8.0
torchvision==0.23.0
pytorch-lightning==2.5.5
tensorboardX
tensorboard

# Plotting:
matplotlib==3.10.6

# Utilities:
tqdm
gymnasium
imageio

# Jupyter Notebook
ipykernel==6.30.1
